.navbar{
    border-radius: 0 !important;
}

.mainSection{
    margin: 20px;
}

table.table, .table th, .table td {
    border: 1px solid #DDD;
}

.table th{
    background-color: #6b6969;
    color: #FFF;
}

.table label{
    display: block !important;
}

.table .client-selected{
    background-color: #f3f3f3;
}

.clickable{
    cursor: pointer;
}

.danger{
    color: #f00;
}

.input-group{
    margin-bottom: 20px;
}

.input-group .dropdown button{
    top: 23px;
    position: absolute;
}

.input-group > div{
    margin-bottom: 20px;
}